github-pandoc.css

docx-reference.docx

# Instructions for creating non-markdown CV formats
making_cv_offline.md

# Changes to be made
to-do.md

# TODO: Removing ignoring of PDF once fixed issue with generating
ben_ross_cv.pdf